/*
            css reset
*/
html {box-sizing: border-box;}
*, *::before, *::after {box-sizing: inherit;padding:0;margin:0;
}
img {width: 100%;max-width: 100%;height:auto;
}li{list-style: none;}
a {  text-decoration: none;}
/* --------------------------*/

body 
{
    background-color: #ddd;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.card-container 
{
    max-width: 800px;
    padding:1rem;
    width:80%;

}

.card 
{
    max-width: 300px;
    box-shadow:5px 5px 10px rgba(155, 154, 154, 0.482);
    height: 400px;
    text-align: center;
    position:relative;
    margin-block:2.5rem;
    cursor:pointer;
    
}

.card__front, .card__back
{   
    padding:1rem;
    width: 100%;
    height:100%;
    position:absolute;
    background-color: rgb(0, 0, 0);
    backface-visibility: hidden;
    transition:transform .6s linear;
}
.card.grifo .card__front 
{
    background-color: #fff;
}
.card.grifo .card__back 
{
    background-color: #000;
    color:#fff;
}
.card__front img 
{   
    display: block;
    object-fit: cover;
    height: 100%;
}

.card__front {
    transform: perspective(600px) rotateY(0deg);
}

.card__back 
{
    background-color: #eee;
    transform: perspective(600px) rotateY(180deg);
}

.card__back__content 
{
    display: flex;
    width:100%;
    height:100%;
    justify-content: space-evenly;
    flex-direction: column;
    align-items:center;
  
}

.card__back 
{
    position:relative;
}

.card__back::after 
{
    content:'';
    top:0;
    position:absolute;
    left:0;
    width:50%;
    height:100%;
    z-index:-1;
    background-color: rgba(200, 200, 200, 0.24);
}

.card__back__content h2.title 
{
    position: relative;
    transition:0.5s;
}

.card__back__content h2.title::after 
{
    content:'';
    width:0%;
    height:2px;
    background-color: #000;
    position: absolute;
    left:50%;
    transform:translateX(-50%);
    bottom:-10px;
    transition:0.3s;
}

.card.grifo .card__back__content h2.title::after 
{
    background-color: #fff;
}
.card__back__content h2.title:hover::after 
{
    width: 70%;
}

.card__back__content p 
{
    line-height: 1.5;
}

.card__back__content .social-media
{
    display: flex;
    max-width:80%;
    padding:1rem;
    justify-content: space-evenly;
}

.social-media .item 
{
    font-size:1rem;
    color:#fff;
    margin-inline:0.2rem;
    padding:0.7rem;
    border-radius:8px;
    background-color: rgb(0, 0, 0);
    text-align: center;
    flex:1 1 auto;
    transition:0.5s;
}

.card.grifo .social-media .item 
{
    background-color: #fff;
    color:#000;
}
.social-media .item i 
{
    color:#fff;
    display: inline-block;
    transition:0.7s;
}

.card.grifo .social-media .item i 
{
    color:#000;
}
.social-media .item:hover 
{
    box-shadow: 4px 3px 5px rgba(0, 0, 0, 0.7);
    transform:scale(1.1) translateY(-1rem);
}

.social-media .item:hover i 
{
    transform:rotateX(360deg);
}

.card:hover .card__front
{
    transform:perspective(600px) rotateY(-180deg);
}
.card:hover .card__back 
{
    transform:perspective(600px) rotateY(0deg);
}

@media (min-width:480px)
{
    .card-container 
    {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap:1rem;
        justify-items: center;
    }
    
}